* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }
  * h1, * h2, * h3, * h4, * h5, * h6 {
    font-family: 'Fjalla One', sans-serif; }
  * p, * li, * ul {
    font-family: 'Cantarell', sans-serif; }

html {
  font-size: 100%; }

body {
  background-color: #565264; }

header {
  grid-area: header;
  overflow: hidden;
  font-style: italic;
  letter-spacing: 5px; }
  header h1 {
    color: #f3eff5;
    font-size: 4rem;
    font-weight: bolder; }
  header p {
    color: #f3eff5; }

#header-square {
  background-image: url(../../img/snow-background.png);
  background-position: center;
  background-size: cover;
  border-bottom: 5px double #f3eff5; }

/* = Navigator = */
nav {
  grid-area: nav;
  background-color: black;
  font-family: 'Cantarell', sans-serif;
  font-size: 1em;
  letter-spacing: 2px;
  grid-area: nav; }
  nav .navBar {
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    /*Buttons*/ }
    nav .navBar .navBar__buttons {
      width: 100%;
      max-width: 180px;
      margin-top: 0;
      margin-bottom: 0;
      margin-left: 5px;
      margin-right: 5px;
      padding: 10px;
      list-style-type: none; }
      nav .navBar .navBar__buttons a {
        color: white;
        text-decoration: none;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center; }
      nav .navBar .navBar__buttons i {
        color: #c9ada7;
        text-align: center;
        margin-right: 5px; }

/* Navigation Bar Animation */
.navBar__buttons a:hover span {
  transition-delay: 0.08s;
  transition-duration: 0.8s;
  opacity: 50%; }

#active-page i {
  color: #f3eff5; }

#active-page span {
  border-bottom: 2px ridge #c9ada7; }

/* Responsive Navbar*/
@media only screen and (min-width: 577px) and (max-width: 992px) {
  nav {
    font-size: 0.9rem;
    letter-spacing: 1px; } }

@media only screen and (max-width: 576px) {
  .navBar__buttons i {
    font-size: 1.5rem; }
  .navBar__buttons i:hover {
    opacity: 50%;
    transition-delay: 0.1s;
    transition-duration: 0.5s; }
  .navBar__buttons span {
    display: none; } }

/* = Footer =*/
footer {
  grid-area: footer;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #1a1a1a;
  text-align: center; }
  footer .footer__icons {
    display: flex;
    flex-direction: row;
    justify-content: center;
    list-style-type: none;
    /*Buttons*/ }
    footer .footer__icons a {
      margin: 10px; }
      footer .footer__icons a i {
        height: 30px;
        width: 30px;
        font-size: 18px;
        background-color: white;
        color: #1a1a1a;
        border-radius: 50%;
        line-height: 30px;
        text-align: center; }
      footer .footer__icons a i:hover {
        color: white;
        background-color: #1a1a1a;
        transition: 0.5;
        transition-duration: 0.5s;
        font-size: 25px; }
  footer .footer__contact {
    margin-top: 10px;
    color: #f3eff5;
    font-style: italic;
    font-weight: lighter; }
    footer .footer__contact h3 {
      width: fit-content;
      margin: auto;
      font-size: 1.2rem;
      border-bottom: 1px solid #c9ada7; }
    footer .footer__contact p {
      letter-spacing: 5px; }

.mainHomepage {
  grid-area: mainHomepage;
  background-color: #d6cfcb;
  text-align: center;
  border-radius: 5px;
  padding: 15px; }
  .mainHomepage .profile-img {
    height: auto;
    width: 300px;
    max-width: 100%;
    padding: 10px;
    filter: grayscale(1); }

#main-square {
  background-color: #f3eff5;
  box-shadow: #8c8792 10px 5px 15px;
  border: 7px double #565264;
  border-radius: 5px; }
  #main-square h4 {
    padding: 10px; }

#homepage-icon img {
  height: auto;
  width: 250px;
  max-width: 100%;
  overflow: hidden; }

/* Twitter Embed Styling*/
.asideHomepage {
  grid-area: asideHomepage;
  border-radius: 5px; }

.mainGallery {
  grid-area: content;
  height: auto;
  margin-left: 15px;
  margin-right: 15px;
  background-color: #d6cfcb;
  border-radius: 5px; }

/* The grid */
.gallery-row {
  display: flex;
  flex-direction: row;
  text-align: center;
  align-items: center;
  justify-content: center;
  margin: 15px; }

.column {
  width: 25%;
  padding: 10px;
  display: flex;
  justify-content: center;
  align-items: center; }

/* Style the images inside the grid */
.column img {
  height: auto;
  width: 275px;
  max-width: 100%;
  opacity: 0.8;
  cursor: pointer;
  transition-duration: 0.8s;
  transition-delay: 0.05s; }

.column img:hover {
  opacity: 1;
  border: 1px solid #f3eff5;
  box-shadow: #8c8792 0px 5px 15px; }

/* Clear floats after the columns */
.gallery-row:after {
  content: "";
  display: table;
  clear: both; }

/* The expanding image container (positioning is needed to position the close button and the text) */
.gallery-container {
  width: fit-content;
  margin-left: auto;
  margin-right: auto;
  position: relative;
  display: none;
  padding: 20px; }

/* The expanding image Style */
#expandedImg {
  display: block;
  height: auto;
  width: 800px;
  max-width: 100%;
  border: 1px solid black;
  border-radius: 10px; }

/* Expanding image text */
#imgtext {
  position: absolute;
  bottom: 25px;
  left: 30px;
  color: white;
  font-size: 20px; }

/* Closable button inside the image */
.closebtn {
  position: absolute;
  top: 15px;
  right: 30px;
  color: white;
  font-size: 40px;
  cursor: pointer; }

.mainSocial {
  grid-area: content;
  height: auto;
  margin-left: 15px;
  margin-right: 15px;
  background-color: #d6cfcb;
  border-radius: 5px; }
  .mainSocial .socialProfiles {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
    border-radius: 5px; }
    .mainSocial .socialProfiles .socialProfiles__icons {
      height: 475px;
      width: 400px;
      max-width: 100%;
      margin: 20px;
      padding: 15px;
      box-shadow: #8c8792 10px 5px 15px;
      text-align: center;
      color: black;
      background-color: #f3eff5;
      border-radius: 8px; }
      .mainSocial .socialProfiles .socialProfiles__icons img {
        height: auto;
        width: 225px;
        max-width: 100%;
        border-radius: 50%; }
      .mainSocial .socialProfiles .socialProfiles__icons h2 {
        border-bottom: 1px solid #c9ada7; }
      .mainSocial .socialProfiles .socialProfiles__icons p {
        font-size: 1.2rem; }

.mainCommission {
  grid-area: content;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  flex-wrap: wrap;
  margin-left: 15px;
  margin-right: 15px;
  background-color: #d6cfcb;
  /*Mobile Query*/ }
  .mainCommission .commission-box {
    margin: 10px;
    background-color: #1a1a1a;
    display: flex;
    flex-direction: row;
    align-items: center;
    border: 5px double #f3eff5;
    border-radius: 8px;
    box-shadow: #565264 0px 5px 15px; }
    .mainCommission .commission-box .commission-box__A {
      margin: 15px; }
      .mainCommission .commission-box .commission-box__A img {
        width: 100%;
        min-width: 150px;
        max-width: 300px;
        border: 4px solid #c9ada7;
        border-radius: 50%;
        box-shadow: #c9ada7 0px 0px 15px; }
    .mainCommission .commission-box .commission-box__B {
      width: 90%;
      margin: 10px;
      padding: 10px;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      background-color: #f3eff5;
      border: 1px solid black;
      border-radius: 5px; }
      .mainCommission .commission-box .commission-box__B h2 {
        border-bottom: 1px solid black; }
      .mainCommission .commission-box .commission-box__B ul {
        list-style-type: none; }
        .mainCommission .commission-box .commission-box__B ul li {
          margin: 10px; }
  @media only screen and (max-width: 992px) {
    .mainCommission .commission-box {
      flex-direction: column;
      align-items: center;
      border-radius: 8px; } }

/* Homepage Grid */
.gridHomepage {
  display: grid;
  height: 100vh;
  width: auto;
  grid-template-areas: "header header" "nav nav" "mainHomepage asideHomepage" "footer footer";
  grid-template-columns: auto 20%;
  grid-template-rows: 40% 10% auto 15%;
  grid-gap: 10px;
  /* Mobile Query */
  /* Tablet/Laptop Query */ }
  @media only screen and (max-width: 576px) {
    .gridHomepage {
      grid-template-areas: "header" "nav" "mainHomepage" "footer";
      grid-template-columns: 100%;
      grid-template-rows: 35% 10% auto 20%; }
      .gridHomepage #homepage-sectionB {
        display: flex;
        flex-direction: column-reverse;
        justify-content: center;
        align-items: center; } }
  @media only screen and (min-width: 576px) and (max-width: 992px) {
    .gridHomepage {
      grid-template-areas: "header" "nav" "mainHomepage" "footer";
      grid-template-columns: 100%;
      grid-template-rows: 35% 10% auto 16%; }
      .gridHomepage .navBar {
        flex-direction: row;
        justify-content: space-evenly; }
      .gridHomepage #homepage-sectionB {
        display: flex;
        flex-direction: column-reverse;
        justify-items: center;
        align-items: center; }
      .gridHomepage #homepage-icon {
        vertical-align: middle;
        margin-top: 15px;
        height: auto;
        width: 350px;
        max-width: 200%; } }

/* General Grid */
.grid {
  display: grid;
  height: 100vh;
  width: auto;
  grid-template-areas: "header" "nav" "content" "footer";
  grid-template-columns: auto;
  grid-template-rows: 40% 10% auto 15%;
  grid-gap: 10px;
  /*Tablet/Laptop Query*/
  /*Mobile Query*/ }
  @media only screen and (min-width: 576px) and (max-width: 992px) {
    .grid {
      grid-template-columns: auto;
      grid-template-rows: 35% 10% auto 15%; } }
  @media only screen and (max-width: 576px) {
    .grid {
      grid-template-columns: auto;
      grid-template-rows: 35% 10% auto 18%; } }
