/* Homepage Grid */
.gridHomepage{
    display: grid;

    height: 100vh; width: auto;

    grid-template-areas:
    "header header"
    "nav nav"
    "mainHomepage asideHomepage"
    "footer footer"
    ;

    grid-template-columns: auto 20%;
    grid-template-rows: 40% 10% auto 15%;
    grid-gap: 10px;
    
    /* Mobile Query */
    @media only screen and (max-width: 576px) {
        grid-template-areas:
        "header"
        "nav"
        "mainHomepage"
        "footer"
        ;
        grid-template-columns: 100%;
        grid-template-rows: 35% 10% auto 20%;

        #homepage-sectionB{
            display: flex; flex-direction: column-reverse;
            justify-content: center; align-items: center;
        }
    }
    /* Tablet/Laptop Query */
    @media only screen and (min-width:576px) and (max-width: 992px){
        grid-template-areas:
        "header"
        "nav"
        "mainHomepage"
        "footer"
        ;
        grid-template-columns: 100%;
        grid-template-rows: 35% 10% auto 16%;
        .navBar{
            flex-direction: row;
            justify-content: space-evenly;
        }
        #homepage-sectionB{
            display: flex; flex-direction: column-reverse;
            justify-items: center; align-items: center;
        }
        #homepage-icon{
            vertical-align: middle;
            margin-top: 15px;
            height: auto;
            width: 350px; max-width: 200%;
        }
    }
}

/* General Grid */
.grid{
    display: grid;

    height: 100vh; width: auto;

    grid-template-areas:
    "header"
    "nav"
    "content"
    "footer"
    ;

    grid-template-columns: auto;
    grid-template-rows: 40% 10% auto 15%;
    grid-gap: 10px;
    
    /*Tablet/Laptop Query*/
    @media only screen and (min-width:576px) and (max-width: 992px){
        grid-template-columns: auto;
        grid-template-rows: 35% 10% auto 15%;
    }
    /*Mobile Query*/
    @media only screen and (max-width: 576px){
        grid-template-columns: auto;
        grid-template-rows: 35% 10% auto 18%;
    }
}