header{
    grid-area: header;
    overflow: hidden;
    
    font-style: italic;
    letter-spacing: 5px;
    h1{
        color: $lightshade;
        font-size: 4rem;
        font-weight: bolder; 
    }
    p{
        color: $lightshade;
    }
}
#header-square{
    background-image: url(../../img/snow-background.png);
    background-position: center;
    background-size: cover;
    border-bottom: 5px double $lightshade;
}