header{
    grid-area: header;
    
    font-style: italic;
    letter-spacing: 5px;
    overflow: hidden;
    h1{
        color: $lightshade;
        font-size: 4rem;
        font-weight: bolder; 
    }
    p{
        color: $lightaccent;
    }
}
#header-square{
    background-color: $darkshade;
    border-bottom: 5px double $lightaccent;
}