/* = Navigator = */
nav{
    grid-area: nav;

    background-color: black;
    font-family: 'Cantarell', sans-serif;
    font-size: 1em; letter-spacing: 2px;

    grid-area: nav;

    .navBar{
        height: 100%;

        display: flex; flex-direction: row;
        justify-content: space-evenly;
        align-items: center;

        /*Buttons*/
        .navBar__buttons{
            width: 100%; max-width: 180px;
            margin-top: 0; margin-bottom: 0;
            margin-left: 5px; margin-right: 5px;
            padding: 10px;

            list-style-type: none;

            a{
                color: white;
                text-decoration: none;

                display: flex; flex-direction: row;
                justify-content: center;
                align-items: center;
            }
        
            i{
                color: $lightaccent;
                text-align: center;
                margin-right: 5px;
            }
        }
    }
}
/* Navigation Bar Animation */
.navBar__buttons a:hover{
    span{
        transition-delay: 0.08s;
        transition-duration: 0.8s;
        opacity: 50%;
    }
}

#active-page{
    i{
        color: $lightshade;
    }
    span{
        border-bottom: 2px ridge $lightaccent;
    }
}

/* Responsive Navbar*/

@media only screen and (min-width:577px) and (max-width: 992px){
    nav{
        font-size: 0.9rem;
        letter-spacing: 1px;
    }
}

@media only screen and (max-width: 576px){
    .navBar__buttons{
        i{
            font-size: 1.5rem;
            
        }
        i:hover{
            opacity: 50%;
            transition-delay: 0.1s;
            transition-duration: 0.5s;
        }
        span{
            display: none;
        }
    }
}
