.mainGallery{
    grid-area: content;
    height: auto;
    
    margin-left: 15px; margin-right: 15px;

    background-color: $darkaccent;

    border-radius: 5px;
}




/* The grid */
.gallery-row{
    display: flex; flex-direction: row;
    text-align: center;
    align-items: center; justify-content: center;
    margin: 15px;
}

.column {
    width: 25%;
    padding: 10px;
    display: flex;
    justify-content: center; align-items: center;
  }
  
  /* Style the images inside the grid */
  .column img {
    height: auto;
    width: 275px; max-width: 100%;
    opacity: 0.8;
    cursor: pointer;
    transition-duration: 0.8s;
    transition-delay: 0.05s;
  }
  
  .column img:hover {
    opacity: 1;
    border: 1px solid $lightshade;
    box-shadow: #8c8792 0px 5px 15px;
  }
  
  /* Clear floats after the columns */
  .gallery-row:after {
    content: "";
    display: table;
    clear: both;
  }
  
  /* The expanding image container (positioning is needed to position the close button and the text) */
  .gallery-container {
    width: fit-content;
    margin-left: auto; margin-right: auto;
    position: relative;
    display: none;

    padding: 20px;
  }

  /* The expanding image Style */
  #expandedImg{
    display: block;

    height: auto;
    width: 800px; max-width: 100%;

    border: 1px solid black;
    border-radius: 10px;
  }
  
  /* Expanding image text */
  #imgtext {
    position: absolute;
    bottom: 25px;
    left: 30px;
    color: white;
    font-size: 20px;
  }
  
  /* Closable button inside the image */
  .closebtn {
    position: absolute;
    top: 15px;
    right: 30px;
    color: white;
    font-size: 40px;
    cursor: pointer;
  }