.mainHomepage{
    grid-area: mainHomepage;

    background-color: $lightaccent;
    text-align: center;
    border-radius: 5px;
    padding: 15px;
    
    .profile-img{
        height: auto; width: 200px; max-width: 100%;
        padding: 10px;
        filter: grayscale(1);
    }
}

#main-square{
    background-color: $lightshade;
    border: 7px double $darkshade; border-radius: 5px;
    h4{
        padding: 10px;
    }
}

/* Twitter Embed Styling*/
.asideHomepage{
    grid-area: asideHomepage;
    width: auto;
    overflow: auto;
    border-radius: 5px;
}