.mainHomepage{
    grid-area: mainHomepage;

    background-color: $darkaccent;
    text-align: center;
    border-radius: 5px;
    padding: 15px;
    
    .profile-img{
        height: auto; width: 300px; max-width: 100%;
        padding: 10px;
        filter: grayscale(1);
    }
}

#main-square{
    background-color: $lightshade;
    
    box-shadow: #8c8792 10px 5px 15px;
    border: 7px double $maincolor; border-radius: 5px;
    h4{
        padding: 10px;
    }
}

#homepage-icon{
    img{
        height: auto;
        width: 250px; max-width: 100%;
        overflow: hidden;
    }
}

/* Twitter Embed Styling*/
.asideHomepage{
    grid-area: asideHomepage;
    border-radius: 5px;
}


