.mainSocial{
    grid-area: content;
    padding: 15px;

    @include content-box;

    img{
        height: auto; 
        width: 225px; max-width: 100%;
        border-radius: 50%;
        padding: 10px;
    }
    img:hover{
        opacity: 0.8;
        transition-duration: 0.2s;
        transition-delay: 0.1s;
    }
    h2{
        border-bottom: 1px solid $lightaccent;
    }
    p{
        padding: 10px;
        font-size: 1.2rem;
    }
}

#social-card{
    background-color: $lightshade;
    margin: 10px;
    border-radius: 5px;
    box-shadow: $darkshade 0px 5px 15px;
    text-align: center;
}